.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .card-title {
    padding: 10px;
    background-color: #8f4b06;
    color: #fff;
    border-radius: 4px 4px 0 0;
  }
  
  .link {
    text-decoration: none;
    padding: 30px;
    
  }

  .link-to{
    padding: 30px;
  }

  .card-body {
    padding: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    justify-content: space-between;
  }
  
  table th {
    background-color: #4e2e05;
    color: #fffefe;
  }
  
  table td button {
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 15px;
  }
  
  table td button:hover {
    background-color: #0069d9;
  }